* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(218,219,213);
    background: linear-gradient(0deg, rgba(218,219,213,1) 85%, rgba(0,150,136,1) 85%);
    height: 100vh;
    display: flex;
    font-family: 'Jost', sans-serif;
}

.container {
    width: 75%;
    height: 90%;
    margin: auto;
    background-color: white;
}

.left, .right {
    float: left;
    border: 1px solid lightgrey;
    height: 100%;
}

.left {
    width: 30%;
}

.right {
    width: 70%;
}

.header-right, .header-left {
    height: 61px;
    width: 100%;
    padding: 0 10px;
    background-color: rgb(237, 237, 237);
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-header-left, .img-header-right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-icons {
    display: flex;
    width: 100px;
    justify-content: space-around;
    align-items: center;
}

.header-icons i {
    font-size: 18px;
    color: grey;
}

.chat {
    height: calc(100% - 121px);
    background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
    background-size: contain;
    background-repeat: repeat;
    overflow-y: scroll;
    padding: 30px;
    display: none
}

.chat-active {
    display: block;
}

.message i {
    color: rgba(187, 187, 187, 0);
    position: absolute;
    top: 2px;
    right: 5px;
    z-index: 10;
}

.message:hover i {
    color: rgba(187, 187, 187, 1);
}

.message-dropdown {
    display: none
}

.message-dropdown-active {
    display: block;
    position: absolute;
    min-width: 110px;
    padding: 10px;
    top: 70%;
    background-color: rgb(237,237,237);
    border-radius: 5px;
    z-index: 10;
    font-size: 14px;
}

.my-message .message-dropdown-active {
    left: -100%;
    min-width: 150px;
}

.other-message .message-dropdown-active {
    left: 100%;
}

.chat .message {
    padding: 15px;
    border-radius: 5px;
    clear: both;
    margin-bottom: 10px;
    position: relative;
}

.messaggio {
    position: absolute;
    bottom: 2px;
    right: 4px;
    font-size: 10px;
    color: darkgrey;
}

.other-message {
    background-color: white;
    float: left;
}

.other-message::after {
    content:'';
    position: absolute;
    left: -10px;
    top: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
}

.my-message {
    background-color: rgb(220, 248, 198);
    float: right;
}

.my-message::after {
    content:'';
    position: absolute;
    right: -10px;
    top: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(220, 248, 198);
}

.message-delete:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer-right {
    background-color: rgb(237, 237, 237);
    height: 7%;
}

.banner {
    height: 87px;
    background-color: rgb(157, 225, 254);
    display: flex;
    align-items: center;
    color: rgb(100, 100, 100);
}

.img-circle {
    background-color: white;
    border-radius: 50%;
}

.banner i {
    color: rgb(157, 225, 254);
    padding: 15px;
    font-size: 20px;
}

.banner a {
    color: grey;
}

.img-circle, .banner-text {
    margin-left: 10px;
}

.search {
    height: 43.5px;
    background-color: rgb(237, 237, 237);
    display: flex;
}

.input {
    margin: auto;
    height: 80%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: white;
}
.search input {
    border: 0;
    height: 80%;
    width: 90%;
    padding: 8px 20px;
}

.footer-right input {
    border: 0;
    width: 85%;
    padding: 15px 10px;
    border-radius: 20px;
}

.search i {
    color: lightgrey;
}

.footer-right i {
    color: grey;
    font-size: 20px;
    height: 90%;
    display: inline-block;
    margin: auto;
}

.footer-right i:hover {
    color: rgba(0,150,136,1);
}

input:focus {
    outline: 0;
}

input {
    color: grey;
}

.chat-container {
    height: calc(100% - 191.5px);
    overflow-y: scroll;
}

.chat-container p  {
    color: grey;
    font-size: 14px;
}

.header-right p {
    color: grey;
    font-size: 12px;
}

.chat-preview {
    height: 81px;
    padding: 0 10px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grey {
    background-color: rgb(215,215,215);
}

.chat-preview:hover {
    background-color: rgb(235, 235, 235);
}

.chat-preview .ora {
    font-size: 10px;
}

.footer-right {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container {
    display: flex;
    width: 7.5%;
}

.footer-right i.icon-unactive {
    display: none;
}

.info {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info img, .img-header-right img, .img-header-left img {
    height: 80%;
    width: auto;
    border-radius: 50%;
    background-color: lightgrey;
}

.info-text {
    margin-left: 10px;
}

.header-right .info-text h4{
    line-height: 15px;
    font-size: 14px;
}

/* .template {
    display: none;
} */

.fa-chevron-left:before {
    display: none;
}

.visible {
    display: block !important;
}
@media (max-width: 1280px) {
    .container {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 768px) {
    
    body {
        height: auto;
    }
    .left, .right, .header-right, .header-left {
        width: 100%;
    }

    .left.unvisible {
        display: none;
    }

    .right, .left {
        height: 100vh;
        overflow: scroll;
    }

    .right, .banner {
        display: none;
    }

    .chat-container {
        height: 100%;
    }

    .fa-chevron-left {
        padding-right: 15px;
        color: grey;
        display: inline;
    }

    .fa-chevron-left:before {
        display: block;
    }
}